<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <localRepository>${user.home}/osnz/maven/repository</localRepository>
  <servers>
		<server>
			<id>local-release</id>
			<username>admin</username>
			<password>{2Y0PrBfXk9IHqFoGZPhnD2ppky52xtFgur3PBqjBk1k=}</password>
		</server>
		<server>
			<id>local-snapshot</id>
			<username>admin</username>
			<password>{2Y0PrBfXk9IHqFoGZPhnD2ppky52xtFgur3PBqjBk1k=}</password>
		</server>
  </servers>
  <mirrors>
		<mirror>
			<id>local-nexus-mirror</id>
			<name>Nexus local mirror</name>
			<url>http://localhost:8081/repository/maven-public/</url>
			<mirrorOf>*</mirrorOf>
		</mirror>
  </mirrors>
  <profiles>
		<profile>
			<id>local-public</id>			
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>			
			<repositories>
				<repository>
					<id>local-public-releases</id>
					<name>Local Nexus Repository</name>
					<url>http://localhost:8081/repository/maven-public/</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>local-public-releases</id>
					<name>Local Nexus Repository</name>
					<url>http://localhost:8081/repository/maven-public/</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>interval:30</updatePolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
  </profiles>
  <activeProfiles>
    <activeProfile>local-public</activeProfile>
  </activeProfiles>
</settings>
